@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.container {
    margin: 0 200px;
    padding: 10px;
}

.section-one {
    background-color: #1F2937;
    color: #F9FAF8;
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.logo p {
    font-size: 24px;
}

.links {
    display: flex;
    gap: 50px;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
    gap: 30px;
}

.hero-main h1 {
    font-size: 48px;
    font-weight: 800px;
    color: #F9F1F8;
}

.hero-main p, a {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 12px;
}

.hero-main a {
    display: inline-block;
    background-color: #3882F6;
    padding: 10px 30px;
    border-radius: 15px;
    
}

.hero-img {
    flex: 2;
}

.hero-img img{
    height: 300px;
    border-radius: 20px;

}



.section-two h1 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.section-two .features {
    display: flex;
    gap: 50px;
    margin-bottom: 100px;
    justify-content: space-between;
    align-items: start;
}


.section-two .features .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.section-two .features .card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
}

.section-three {
    background-color: #E5E7EB;
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-three .quote {
    font-size: 36px;
    color: #1F2937;
}

.section-three .author {
    text-align: right;
}

.section-four {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-four .container {
    background-color: #3882F6;
    padding: 40px 100px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F9F1F8;
}

.section-four .container .right {
    border: 1px solid white;
    padding: 10px 20px; 
    border-radius: 10px;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.footer .container {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}